.cart {
    max-width: 55rem;
    width: 90%;
    margin: 2rem auto;
}

.cart ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.total {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

.total span {
    font-weight: bold;
    font-size: x-large;
}

.action {
    display: flex;
    justify-content:end;
    gap: 1rem;
    margin: 1rem auto;
}

.action button {
    align-self:flex-end;
}